<% error.forEach(function(x){ %>
    <div class="alert alert-danger text-center"><%= x%></div>
<%
  })%>


  <% success.forEach(function(x){ %>
    <div class="alert alert-success text-center"><%= x%></div>
<%
  })%>